{% extends "league/base.html" %}
{% block title %}Team{% endblock %}
{% block content %}
<h2>
  {% if team.logo %}{% if team.logo %}<img class="logo" src="{{ team.logo.url }}" alt="">{% endif %}{% endif %}
  {{ team.name }}
</h2>

<h3>Current Players (Season)</h3>
{% if current_members %}
  <ul>
    {% for m in current_members %}
      <li>
        <a href="{% url 'league:player_detail' m.player.id %}">
          {% if m.player.photo %}{% if m.player.photo %}<img class="photo" src="{{ m.player.photo.url }}" alt="">{% endif %}{% endif %}
          {{ m.player.name }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p class="muted">No active members.</p>
{% endif %}
{% endblock %}
